{% extends "base.html" %}


{% block title %}
<title>Database administration</title>
{% endblock %}	

{% block link %}
<link href="{{ url_for('static', filename='stylesheets/index.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block header %}
<header>
	<h1 id="pagetop">Administration Portal</h1>		
</header>
{% endblock %}

{% block navbar %}
<div id="topbar">
	<a class="adminnavbutton" href="client/index.html" title="client administration page">Client Administration</a>
	<a class="adminnavbutton" href="office/index.html" title="office administration page">Office Administartion</a>	
	<a class="navbutton" href="../login/index.html" title="login page">Login</a>
</div>
{% endblock %}

{% block footer %}
<footer>
	<a class="footernav" href="../index.html" title="back to home page">Back Home</a>
</footer>	
{% endblock %}