{% extends "base.html" %}

{% block title %}
<title>Homepage</title>
{% endblock %}

{% block link %}
<link href="{{ url_for('static', filename='stylesheets/index.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block header %}
<header>
	<h1 id="pagetop">Demeter Farms Tax Client Management System</h1>
</header>
{% endblock %}

{% block navbar %}
<div id="topbar">
	<a class="navbutton" href="index.html" title="homepage">Home</a>
	<a class="navbutton" href="admin/index.html" title="administration page">Administration</a>
	<a class="navbutton" href="taxes/index.html" title="taxes page">Taxation</a>	
	<a class="navbutton" href="login/index.html" title="login page">Login</a>
</div>
{% endblock %}

{% block content %}
<p class="navbar"></p>
<p class="navbar"></p>
<p class="navbar"></p>	
{% endblock %}

