{% extends "base.html" %}

{% block title %}
User Login 
{% endblock %}

{% block styles %}
<link href="{{ url_for('static', filename='css/custom.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/signin.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block navbar %}
<nav class="py-2 bg-dark text-white border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item"><a href="{{ url_for('home.index') }}" class="nav-link text-white px-2 active" aria-current="page">Home</a></li>
      <!-- <li class="nav-item"><a href="{{ url_for('admin.index') }}" class="nav-link text-white px-2">Adminstration</a></li> -->
      <li class="nav-item"><a href="#" class="nav-link text-white px-2">Tax e-Filing</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white px-2">FAQs</a></li>
      <li class="nav-item"><a href="{{ url_for('home.about') }}" class="nav-link text-white px-2">About</a></li>
    </ul>
    <ul class="nav">
      <li class="nav-item"><button type="button" class="btn btn-primary">Sign-up</button></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block main %}
<main>
	<div class="container-md form-signin">
		<form id="signin_form" action="{{ url_for('home.login_home') }}" method="post">
	    <!-- <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
	    <h1 class="h3 mb-3 fw-normal text-center">User Login</h1>

	    <div class="form-floating">
	      <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username" required="required">
	      <label for="floatingInput">Username</label>
	    </div>
	    <br>
	    <div class="form-floating">
	      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" required="required">
	      <label for="floatingPassword">Password</label>
	    </div>	 
	    <br>   
	    <button class="w-100 btn btn-lg btn-primary" type="submit" form="signin_form">Login</button>
	    <p class="mt-5 mb-3 text-muted text-center">&copy; Shyam 2022</p>
	  </form>	
	</div>  
</main>
{% endblock %}