{% extends "base.html" %}

{% block link %}
<link href="{{ url_for('static', filename='css/custom.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block navbar %}
<nav class="py-2 bg-dark text-white border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item"><a href="{{ url_for('home.index') }}" class="nav-link text-white px-2 active" aria-current="page">Home</a></li>  
      <li class="nav-item"><a href="#" class="nav-link text-white px-2">Tax e-Filing</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white px-2">FAQs</a></li>
      <li class="nav-item"><a href="{{ url_for('home.about') }}" class="nav-link text-white px-2">About</a></li>
    </ul>
    <ul class="nav">
      <li class="nav-item"><a href="{{ url_for('home.login_home') }}" class="nav-link text-white px-2">Login</a></li>
      <li class="nav-item"><a href="#" type="button" class="btn btn-primary">Sign-up</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container bg-dark text-white">
<h1>You are logged in as {{ user|capitalize }}</h1>
<ul>
	<li>{{ request.blueprint }}</li>
	<li>{{ self._TemplateReference__context.name }}</li>
	<li>{{ request.endpoint }}</li>
	<li>{{ request.path }}</li>
</ul>
</div>
{% endblock %}