{% extends "base.html" %}

{% block title %}
Sign-up page
{% endblock %}

{% block styles %}
<link href="{{ url_for('static', filename='css/custom.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block navbar %}
<nav class="py-2 bg-dark text-white border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item"><a href="{{ url_for('home.index') }}" class="nav-link text-white px-2 active" aria-current="page">Home</a></li>  
      <li class="nav-item"><a href="{{ url_for('taxes.taxes_home') }}" class="nav-link text-white px-2">Taxes</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white px-2">FAQs</a></li>
      <li class="nav-item"><a href="{{ url_for('home.about') }}" class="nav-link text-white px-2">About</a></li>
    </ul>
    <ul class="nav">
      <li class="nav-item"><a href="{{ url_for('home.login_home') }}" class="nav-link text-white px-2">Login</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block main %}
<div class="container col-xl-12 col-xxl-12 px-4 py-5">
  <div class="row g-lg-5 py-5">
    <div class="col-lg-5 text-center text-lg-start">
      <!-- <h1 class="display-4 fw-bold lh-1 mb-3">Application Signup</h1> -->
      <p class="col-lg-10 fs-4">Please enter the details requested for on your right to signup as an user for the application.</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-7">
      <form action="{{ url_for('home.signup_home') }}" method="POST" novalidate class="p-4 p-md-5 border rounded-3 bg-light">
        {{ form.hidden_tag() }}        
        <div class="form-floating mb-3">
          {{ form.username(class="form-control", id="floatingInput") }}
          {{ form.username.label }}   
          {% for error in form.username.errors %}
          <span style="color: red;">[{{ error }}]</span>       
          {% endfor %}
        </div>
        <div class="form-floating mb-3">
          {{ form.password(class="form-control floatingPassword", id="floatingInput") }}
          {{ form.password.label }}      
          {% for error in form.password.errors %}
          <span class="form-floating mb-3"style="color: red;">[{{ error }}]</span>       
          {% endfor %}
        </div>
        <div class="form-floating mb-3">
          {{ form.confirm_pass(class="form-control floatingPassword", id="floatingInput") }}
          {{ form.confirm_pass.label }}
          {% for error in form.confirm_pass.errors %}
          <span class="form-floating mb-3" style="color: red;">[{{ error }}]</span>       
          {% endfor %}          
        </div>

        {{ form.submit(class="w-100 btn btn-lg btn-primary") }} 
        
        <hr class="my-4">
        <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
      </form>
    </div>
  </div>
</div>
{% endblock %}
