<!--
        <div class="form-floating mb-3">
          {{ form.dob(class="form-control", id="floatingInput") }}
          {{ form.dob.label }}          
        </div>
        
        
        <div class="form-floating mb-3">
          {{ form.employee_type(class="form-control", id="floatingInput") }}
          {{ form.employee_type.label }}          
        </div>-->





<!-- <ul class="nav">
      <li class="nav-item"><a href="#" class="nav-link text-white px-2">Login</a></li>
      <li class="nav-item"><button type="button" class="btn btn-primary">Sign-up</button></li>
    </ul> -->

<!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0">
      <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
    </form> -->
    <!--<div class="text-end">
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('home.login_home') }}" type="button" class="btn btn-primary">Login</a>
      {% else %}
      <a href="{{ url_for('home.logout_home') }}" type="button" class="btn btn-primary">Logout</a>
      {% endif %}
      <a href="{{ url_for('home.signup_home') }}" type="button" class="btn btn-primary">Sign-up</a>
    </div>-->