<!--<div class="form-floating mb-3">
          {{ form.first_name(class="form-control", id="floatingInput") }}
          {{ form.first_name.label }}
        </div>
        <div class="form-floating mb-3">
          {{ form.last_name(class="form-control", id="floatingInput") }}
          {{ form.last_name.label }}          
        </div>
        <div class="form-floating mb-3">
          {{ form.dob(class="form-control", id="floatingInput") }}
          {{ form.dob.label }}          
        </div>
        <div class="form-floating mb-3">
          {{ form.email(class="form-control", id="floatingInput") }}
          {{ form.email.label }}          
        </div>
        <div class="form-floating mb-3">
          {{ form.phone(class="form-control", id="floatingInput") }}
          {{ form.phone.label }}          
        </div>
        <div class="form-floating mb-3">
          {{ form.employee_type(class="form-control", id="floatingInput") }}
          {{ form.employee_type.label }}          
        </div>-->