{% extends "base.html" }

{% block title %}
Tax Administration 
{% endblock %}

{% block styles %}
<link href="{{ url_for('static', filename='css/custom.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/home.css') }}" type="text/css" rel="stylesheet" /> 
{% endblock %}

{% block navbar %}
<nav class="py-2 bg-dark text-white border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item"><a href="{{ url_for('home.index') }}" class="nav-link text-white px-2 active" aria-current="page">Home</a></li>
      <!-- <li class="nav-item"><a href="{{ url_for('admin.index') }}" class="nav-link text-white px-2">Adminstration</a></li> -->
      <li class="nav-item"><a href="#" class="nav-link text-white px-2 active" title="Calculate taxes">Calculate taxes</a></li>
      <li class="nav-item"><a href="https://eportal.incometax.gov.in/iec/foservices/#/login" title="File income tax return" target="_blank">e-File Returns</a></li>
      <li class="nav-item"><a href="{{ url_for('home.faq') }}" class="nav-link text-white px-2">FAQs</a></li>
      <li class="nav-item"><a href="{{ url_for('home.about') }}" class="nav-link text-white px-2">About</a></li>
    </ul>    
  </div>
</nav>
{% endblock %}

{% block header %}
<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex flex-wrap justify-content-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Tax Calculation and Filing Portal</span>
    </a>    
    <div class="text-end">
      <a href="{{ url_for('home.login_home') }}" type="button" class="btn btn-primary">Login</a>
      <a href="{{ url_for('home.signup_home') }}" type="button" class="btn btn-primary">Sign-up</a>
    </div>
  </div>
</header>
{% endblock %}
