* {
	box-sizing: border-box;
}
body{
	background-color: #C8C8C8;
	background-color: hsl(0, 0%, 78%);
}

header #pagetop, #topbar{
	width: 98%;
	margin-bottom: 10px;
	margin-left: 10px;
	position: relative;
	/*background-color: whitesmoke;*/
}

header #pagetop{
	font-family: Arial;
	background-color: darkcyan;
	color: white;	
	text-decoration: none;
	text-align: center;	
	padding:  15px 10px 15px 10px;	
	margin-top: 10px;
	margin-right: 10px;
}

.navbutton{
	font-family: Arial;
	font-weight: bold;
	text-align: center;
	text-decoration: none;	
	background-color: black;
	color: white;
	padding: 7px;
	width: 16%;
	height: 30px;
	margin: 0px 0px 0px 0px;
	display: inline-block;
	position: relative;
	left: 5px;
}

.navbutton:hover, .navbutton:active{
	background-color: darkblue;
	color: white;
}

.navbar{
	background-color: whitesmoke;
	margin: 20px 0px 20px 10px;	
	height: 30px;	
	width:  8.33%;
}

.footernav:hover, .footernav:active{
	text-decoration: none;
	color: darkblue;
}

.footernav:hover{
	text-decoration: underline;
}